 <!-- START THE FEATURETTES -->
<hr class="featurette-divider">
	<div class="row featurette">
    	<div class="col-md-7">
        	<h3 class="featurette-heading">Community Outreach<br><span class="text-muted">It'll blow your mind.</span></h3>
        	<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>

        <div class="progress progress-striped">
			<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
				<span>30% Complete</span>
			</div>
		</div>

        </div>

        <div class="col-md-5 class img-responsive">
        	<%= image_tag("wall1.jpeg", size: "400x250", alt: "wall1") %>
        </div>
      </div>

    <hr class="featurette-divider">
    	<div class="row featurette">
        <div class="col-md-7 col-md-push-5">
        	<h2 class="featurette-heading">Re-Training Members<br><span class="text-muted">See for yourself.</span></h2>
        	<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>

        <div class="progress progress-striped">
			<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
				<span>90% Complete</span>
			</div>
		</div>

        </div>
        <div class="col-md-5 col-md-pull-7 img-responsive">
          <%= image_tag("wall1.jpeg", size: "400x250", alt: "wall1") %>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Acquiring New Dental Equipments<br><span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>

        <div class="progress progress-striped">
			<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
				<span>10% Complete (danger)</span>
			</div>
		</div>

        </div>
        <div class="col-md-5 img-responsive">
          <%= image_tag("wall1.jpeg", size: "400x250", alt: "wall1") %>
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->